.nav {
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 9999;
}

@media (max-width: 768px) {
  .nav {
    align-items: center;
    padding: 5rem 0;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 100%;
    transition: 250ms ease-in-out;
    z-index: 900 !important;
  }

  .nav_visible {
    visibility: visible;
    opacity: 1;
    right: 0;
    font-size: 8rem;
    overflow: hidden;
    transition: 250ms ease-in-out;
  }
}
